.photo{
  height: 50px;
  width: 50px;
  background-size: cover;
}

.profile-picture{
  height: 100px;
  width: 100px;
  background-size: cover;
}

.imagery{
  height: 200px;
  width: 200px;
  background-size: cover;
}

#buffer{
  margin-top: 8%;
}

.delete{
  height: 20px;
  width: 20px;
}
