body{
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

.photo{
  height: 50px;
  width: 50px;
  background-size: cover;
}

.imagery{
  height: 200px;
  width: 200px;
  background-size: cover;
}

#buffer{
  margin-top: 12%;
}

#buffer2{
  margin-top: 20%;
}

.delete{
  height: 20px;
  width: 20px;
  margin-left: 15px;
}

.delete1{
  height: 20px;
  width: 20px;
  margin-left: 40%;
}

.edit{
  margin-left: 30%;
}

.logo, .profile-picture{
  height: 250px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}

.panel-title{
  margin-bottom: 2%;
}
