extends ../shared/template

block content
  .container
    .row.clearfix
      .col-md-12.column
        nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Target Deck
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='/about') About
            ul.nav.navbar-nav.navbar-right
              if(!user)
                li
                  a(href='/dash') Login
              if(user)
                li
                  a(href='/logout') Logout
        .jumbotron#buffer
          h1
            | Target Deck
          p
            | Target-Deck is a simple, easy to use app for Defense Department users to track and manage combat operations and objectives in a deployed environment.
      .col-md-4.column
        h2
          | Simplicity
        p
          | Target-Deck's user interface is simple enough for novice users to quickly learn and utilize with minimal learning time.
      .col-md-4.column
        h2
          | Manageability
        p
          | Organizations can add and remove their operations and users with ease, maintaining complete control over organization objectives.
      .col-md-4.column
        h2
          | Availability
        p
          | Target-Deck would allow all deployed units to share information quickly and efficiently, aiding access and speeding efficiency.
