extends ../shared/template

block content
  a(href='/register') Register Organization
  h1= title

  h1 Organization Login
  form(method='post', action='/logino')
    input(type='email', name='email', placeholder='Email', autofocus=true, required='required')
    input(type='password', name='password', placeholder='Password', required='required')
    button Login

  h1 User Login
  form(method='post', action='/loginu')
    input(type='email', name='email', placeholder='Email', autofocus=true, required='required')
    input(type='password', name='password', placeholder='Password', required='required')
    button Login
