extends ../shared/template

block content
  h1= title

  a(href='/manage') Manage Organization Members
  br
  a(href='/ops') Manage Organization Operations
  br
  a(href='/targetdeck') Organization Target Deck
